{{#paper-dialog}}
    {{#paper-dialog-content}}
        <div class="layout-row">
          <div class="layout-column flex">
            <p>This is a dialog</p>
          </div>
        </div>
    {{/paper-dialog-content}}
{{/paper-dialog}}
